<div id="create-ques-comment">
<h4> Create a Comment </h4>
  <%= form_for @comment do |f| %>
    <p><%= f.label :comment_content %>&nbsp;<%= f.text_field :comment_content %></p>
    <%= f.hidden_field :commentable_id, value: @comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @comment.commentable_type %>
    <p><%= f.submit "Add Comment" %></p>
  <% end %>
</div>
