<div class="question">
  <div class= "votes_container">
      <div class = "vote_count">
        <%= question.votes_total %>
      </div>
      <div class="vote_booth">
      <%= link_to 'UP', question_votes_path(question, vote_type: "up", voteable_type: "Question", voteable_id: question.id), remote: true, method: :post, class: "vote" %>
      <%= link_to 'DOWN', question_votes_path(question, vote_type: "down", voteable_type: "Question",voteable_id: question.id), remote: true, method: :post, class: "vote"  %>
    </div>
  </div>
  <div class = "question_title">
    <h2><%= "#{question.question_title}" %></h2>
  </div>
  <div class= "question_content">
    <%= "#{question.question_content}" %>
  </div>
  <div class="question_buttons">
     <div class = "question_button">
      <%= link_to 'Show' , question_path(question) %>
    </div>
    <div class="question_button">
      <%= link_to 'Delete' , question_path(question), :method => :delete %>
    </div>
  </div>
</div>

