
<h1>Specific Question Page</h1>
<br>
<%= @question.question_content %>
<br><br>

<% if current_user %>
  <%= button_to "Create an Answer", new_question_answer_path(@question), :method => :get, :class => "btn btn-warning" %>
<% end  %><br>
<h2>All answers:</h2>
<% @question.answers.each do |answer| %>
  <div><%= answer.answer_content %></div>
<% end %>

<h1> Create a Comment Below </h1>

<%= link_to "Create a Comment", new_comment_path(:question_id => @question.id) %>

<h1> Read Some Comments:</h1>
<% @question.comments.each do |comment| %>
  <%= comment.comment_content %>
<%  end %>
