<div id="show_question">
  <h3><%= @question.question_title %></h3>
  <p><%= @question.question_content %></p>
</div>

<div class="question-comments">
  <% @question.comments.each do |comment| %>
    <%= comment.comment_content %>
  <%  end %>
  <%= link_to "Create a Comment", new_comment_path(:question_id => @question.id) %>
</div>

<% if current_user %>
  <%= button_to "Create an Answer", new_question_answer_path(@question), :method => :get, :class => "btn btn-warning" %>
<% end  %>

<div id="all_answers">
  <h4>Answers</h4>
  <% @question.answers.each do |answer| %>
    <%= answer.answer_content %>
    <%= link_to "Comment on Answer", new_comment_path(:answer_id => answer.id) %>
  <% end %>
</div>
<div class="answer_comments">
  <% answer.comments.each do |comment| %>
    <%= comment.comment_content %>
  <% end %>
</div>



