
<div id="show_question">
<h1><%= @question.question_title %></h1>
<p><%= @question.question_content %></p>
</div>
<div class="question-comments">
  <% @question.comments.each do |comment| %>
   <div class="comment"><%= comment.comment_content %></div>
  <%  end %>
  <%= link_to "Create a Comment", new_comment_path(:question_id => @question.id) %>
</div>

<% if current_user %>
  <%= link_to 'new answer', '#', :class =>'new-answer'  %>

  <div id="answer-question">
    <%= form_for [@question, @answer], remote: true, :html => {:class => 'hidden'} do |f| %>
    <%= f.label :answer_content %>
    <%= f.text_field :answer_content %>
    <%= f.submit "Submit" %>
    <% end %>
 </div>

<% end  %><br>

<div id="all_answers">
  <h4>Answers</h4>
  <% @question.answers.each do |answer| %>
    <div class="show_answer">

        <%= answer.answer_content %>

      <%= link_to "Comment on Answer", new_comment_path(:answer_id => answer.id) %>
      <div class="answer_comments">
         <% answer.comments.each do |comment| %>
          <div class="answer_comment">
            <%= comment.comment_content %>
          </div>
         <% end %>
      </div>
    </div>
  <% end %>
</div>



