<!DOCTYPE html>
<html>
<head>
  <title>LifeOverFlow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="header">
  <img src = "http://images.wikia.com/uncyclopedia/images/archive/8/80/20070603184500!Smiley.png">

  <div id="user_nav">
    <ul class="nav nav-pills nav-stacked">
      <% if current_user %>
        <li> <%= link_to "#{current_user.username}", user_path(current_user.id) %></li>
        <li> <%= button_to "Log out", log_out_path, :class => "btn btn-danger", :method => :get %></li>
      <% else %>
        <li> <%= link_to "Sign Up", "#", :class => "btn btn-success", :id => "sign_up_btn" %></li>
        <li><%= link_to "Log In", log_in_path %></li>
      <% end %>
    </ul>
  </div>

  <div id="main_logo">
    <a href='/'>Life Overflow</a>
  </div>

  <div class="text-center">
    <em>Order by:</em>
    <div class="btn-group">
      <button type="button" class="btn btn-default">Most UpVotes</button>
      <button type="button" class="btn btn-default">Most Recent</button>
      <button type="button" class="btn btn-default">Trending</button>
    </div>
  </div>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<hr id = "horizontal">
<div class="main_container">
  <%= yield %>

<div id="signup_form">

<%= form_for @user, remote: true do |f| %>
  <div class="error_messages">
    <% if @user.errors.any? %>
      <h2>Form is invalid</h2>
      <% for message in @user.errors.full_messages %>
        <%= message %>
      <% end %>
    <% end %>
  </div>
  <div class="sign_up_fields">
    <p><%= f.label :username %>&nbsp;<%= f.text_field :username %></p>
    <p><%= f.label :email %>&nbsp;<%= f.text_field :email %></p>
    <p><%= f.label :password %>&nbsp;<%= f.password_field :password %></p>
    <p class="submit-button"><%= f.submit "Create Account"%></p>
  </div>
<% end %>
</div>
</div>


</body>
</html>
