<!DOCTYPE html>
<html>
<head>
  <title>LifeOverFlow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <!-- BOOSTRAP -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>

  <%= render partial: 'layouts/header' %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<hr id = "horizontal">

<div class="main_container">
  <%= yield %>
</div>

  <%= render partial: 'layouts/footer' %>

</body>
</html>
